# Data Science Final Project Notebook

This notebook contains the final project for the Data Science course. It includes Markdown cells and Python code cells that demonstrate basic skills required in data science.

## Popular Data Science Languages
- Python
- R
- SQL
- Julia
- Scala

## Common Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras

## Data Science Tools

| Tool            | Description                          |
|-----------------|--------------------------------------|
| Jupyter Notebook| Interactive coding and documentation |
| RStudio         | IDE for R programming                |
| Apache Spark    | Big data processing framework        |
| TensorFlow      | Deep learning framework              |

## Arithmetic Expression Examples
Below are some examples of simple arithmetic operations like addition and multiplication.

In [ ]:
# This code multiplies and adds numbers
(5 * 3) + 2

In [ ]:
# Convert 200 minutes to hours
minutes = 200
hours = minutes / 60
hours

## Objectives of this Course
- Understand the basics of Data Science
- Learn how to use Jupyter Notebooks
- Get familiar with Markdown and Python code
- Work with data science libraries
- Perform simple data transformations

**Author:** doanhnhan4605